@charset "utf-8";
/*头部代码*/
header{background-color: #bd2e4a;}
.header_left{line-height: 3rem;height: 3rem;width: 25%;}
.header_left i{height: 3rem; color: #fff;display: block; margin: 0 auto;
    font-size: 1.9rem;line-height: 3rem;padding-left: 20%;}
.header_right{font-size: 1rem;line-height: 3rem;text-align: center;color: #fff;display: block; width: 50%;}
/*主体内容*/
section{background-color: #eeeeee;padding-bottom: 3.2rem;}
.banner{width: 100%;}
.banner img{width: 100%;height: auto;}
.food{color: #666;font-size: 1rem; padding: 1.6rem 3% 0.8rem;}
.list{width: 100%;padding: 0 3%;}
.list li{width: 49%;padding: 0.2rem 2%;background-color: #fff;margin-bottom: 0.4rem;}
.list li.marginr{margin-right: 2%;}
.list li a{display: block;position: relative;}
.list li a img{width:100%;height: auto; }
.list li a .reserve{position: absolute;display: block;top: -0.1rem;left: -0.1rem;width: 25%;height: auto;}
.title{padding: 0.3rem 0;height: 2.5rem;overflow: hidden;}
.title span{font-size: 0.9rem;line-height: 120%;color: #333;vertical-align:top;}
.title span:first-child{display: block;border-right:1px #333333 solid;color: #333333;font-size: 0.9rem; line-height: 120%;padding-right: 0.5rem;margin-right: 0.5rem;}
.address{width: 100%; font-size: 0.8rem;color: #a6a6a6;border-bottom: 1px #eeeeee solid;  line-height: 120%;padding-bottom: 0.4rem; height: 2rem;overflow: hidden;}
.price p:first-child{color: #f9a965;font-size: 1.5rem;line-height: 1.6rem;}
.price p:first-child span{font-size: 0.6rem;}
.price p:last-child{color: #999999; font-size: 0.6rem;line-height:1.6rem; }
/*底部导航*/
footer{height: 3.2rem;background-color: #bd2e4a;position: fixed;bottom: 0;left: 0;width: 100%;padding: 0.3rem 0;}
footer li{width: 25%;text-align: center;}
footer li a img{width: 1.6rem; height: auto;}
footer li a span{font-size: 0.8rem;color: #fff;line-height: 150%;}