@charset "utf-8";
/*头部代码*/
body{background-color: #fff;}
.header_left{line-height: 3rem;height: 3rem;width: 25%;}
.header_left i{height: 3rem; color: #555555;display: block; margin: 0 auto;
    font-size: 1.9rem;line-height: 3rem;padding-left: 20%;}
.header_right{font-size: 1rem;line-height: 3rem;text-align: center;color: #555555;display: block; width: 50%;}
/*头部代码*/
section{width: 100%;padding: 0 3%;}
a.goin1{width: 45%;height: 2.3rem;border: 1px #f8ac6d solid;color: #f8ac6d;border-radius: 1.1rem;display: block;margin:0 auto 1.5rem;text-align: center;line-height: 2.3rem;font-size: 1.1rem;}
a.goin2{width: 45%;height: 2.3rem;background-color:#f8ac6d;color: #fff;border-radius: 1.1rem;display: block;margin:0 auto 1.5rem;text-align: center;line-height: 2.3rem;font-size: 1.1rem;}
form{padding-top: 1.5rem;}
form input{width: 100%;height: 2.5rem;border: none;border: 1px #bd2e4a solid;border-radius: 1.5rem;}
form input.phone,form input.password{background-color: #fff;padding-left: 2rem;font-size: 0.8rem;margin-bottom: 1.8rem;}
form input.submit{background-color: #bd2e4a;color: #fff;font-size: 1.2rem;margin-top: 2.5rem;margin-bottom: 1rem;}
.f_verification{position: relative;margin-bottom: 1.8rem;display: block;}
.f_verification input{background-color: #fff;padding-left: 2rem;font-size: 0.8rem;}
.f_verification a{display: block;position: absolute;right: 0;top: 0;height: 2.5rem;line-height: 2.5rem;width: 5rem;font-size: 0.8rem;color: #ff5c2e;}

.formError{width: 90%;}
.formError .formErrorContent{font-size: 0.8rem;border: none;background-color: #fff;width: 94%;color: #bd2e4a;box-shadow: 0 0 6px #fff;line-height: 120%;height: 1rem;}
.formError .formErrorArrow{display: none;}