@charset "utf-8";
body{background: #e9e6df;}
.lead_bg{width: 100%;}
.lead_bg img {display: block;width: 100%;height:auto;}
a.goin{width: 35%;height: 2.3rem;border: 1px #bd2e4a solid;color: #bd2e4a;border-radius: 0.4rem;display: block;margin:2rem auto 5rem;text-align: center;line-height: 2.3rem;font-size: 1.1rem;}